.page-container {
    margin: 0;
    padding: 40px;
    text-align: center;
    background-image: linear-gradient(#785B4A, #c1d69b);
}

h2 {
    background-color: antiquewhite;
    width: 15em;
    border-radius: 1em;
    margin: auto;
}

.experience-container {
    margin: auto;
    justify-content: center;
}

.experience-list {
    list-style-type: none;
    list-style-position: inside;
    font-size: larger;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.experience {
    background-color: #5d483e;
    color: antiquewhite;
    padding: 10px;
    border-radius: 10px;
}

h3 {
    margin-bottom: 0;
}

.experience-duration {
    font-size: smaller;
    font-weight: lighter;
    margin: auto auto 0;
    padding: 20px;
}

.experience-description {
    list-style-type: none;
    font-size: medium;
    font-weight: 100;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.experience-description li {
    background-color: antiquewhite;
    color: black;
    margin: 0;
    padding: 10px;
}