<div class="page-container">
    <h2>Professional Experience</h2>
    <div class="experience-container">
        <ul class="experience-list">
            <li class="experience">
                <h3>Museum Director</h3>
                <span class="experience-duration">January 2001 – Present</span>
                <ul class="experience-description">
                    <li>Spearhead the operation of a multi-faceted museum, encompassing exhibits on art, fish, bugs, and fossils, attracting thousands of visitors annually.</li>
                    <li>Conduct in-depth research on natural history to ensure the accuracy of collections and exhibits, maintaining a rich, educational experience for all museum-goers.</li>
                    <li>Oversee daily activities, including managing exhibit placements, cataloging new additions, and ensuring all collections are properly maintained.</li>
                    <li>Lead community outreach initiatives, including museum tours, educational talks, and special events for visitors.</li>
                    <li>Develop and curate a diverse range of exhibits that celebrate the natural world, including rare and legendary specimens.</li>
                    <li>Collaborate with residents of Animal Crossing and various guests to expand the museum’s collection.</li>
                    <li>Lead efforts to preserve valuable specimens and rare artifacts, ensuring long-term care and accessibility for future generations.</li>
                </ul>
            </li>
        </ul>
    </div>
</div>