<div class="page-container">
    <div class="about-me-container">
        <h2>About Me</h2>
        <p>A passionate and highly dedicated museum curator with a vast knowledge of natural history, including fossils, art, fish, and insects. Over the course of many years, I have established and managed a renowned museum, offering educational programs, exhibits, and engaging experiences for visitors of all ages. I excel in research, organization, and conservation efforts, with a deep commitment to environmental and cultural preservation.</p>
    </div>
</div>
