<div class="page-container">
  <div class="nav-container">
    <div class="link-container">
      <a class="nav-link" routerLink="">Home</a>
    </div>
    <div class="link-container">
      <a class="nav-link" routerLink="calculator">Calculator</a>
    </div>
    <div class="link-container">
      <a class="nav-link" routerLink="text-editor">Text Editor</a>
    </div>
    <div class="link-container">
      <a class="nav-link" routerLink="quiz">Quiz</a>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>