<div class="home-container">
    <h1>Welcome to Project Work!</h1>
    <p>There are separate pages for a calculator, a text editor and a Super Mario themed quiz!</p>
    <p>The <b>calculator</b> can perform adding, subtracting, multiplying and dividing operations. Visually it was made to resemble a real life calculator.</p>
    <p>The <b>text editor</b> lets you write text and change the way it looks by bolding, italicizing, and changing its color.</p>
    <p>The <b>quiz</b> tests your Super Mario knowledge with three basic questions about the video game franchise.</p>
    <p>Use the buttons above to navigate.</p>
</div>